.App {

  background-image: url("../../assets/wallpaper.jpg");
}

.score {
  display: flex;
  align-items: center;
  
  width: 100%;
  color: white;
  font-size: 24px;
  font-family: Arial, sans-serif;
  margin:0 10px;
}

.terminal {
  position: fixed;
  top: 10px;
  left: 70vw;
}